{% extends "base.html" %}
{% block moreStyle%}
<style>
      @media only screen and (max-width: 700px) {
        .masthead.segment {
          min-height: 50px;
        }
      }
    </style>
{% endblock moreStyle %}
{% block body %}
              <!--Body Blog-->
    <div class="ui text container content-form-custom">
        <h3>EDIT POST</h3>
        <div class="ui tall stacked raised segment form-custom form">
            {{ form.as_p }}
            <button class="ui submit primary button">Submit</button>
        </div>
    </div>
{% endblock body %}