{% extends "base.html" %}
{% block moreStyle%}
<style>
      @media only screen and (max-width: 700px) {
        .masthead.segment {
          min-height: 50px;
        }
      }
    </style>
{% endblock moreStyle %}
{% block linksMenu %}
<a class="item" href="{% url 'home' %}">Home</a>
<a class="active item" href="{% url 'create_post' %}">Crear Post</a>
{% endblock %}
{% block body %}
              <!--Body Blog-->
    <div class="ui text container content-form-custom">
        <h3>NEW POST</h3>
        <div class="ui tall stacked raised segment form-custom form">
            <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="ui submit primary button">Save</button>
                </form>
        </div>
    </div>
{% endblock body %}


