{% extends "base.html" %}
{% block moreStyle%}
<style>

</style>
{% endblock moreStyle %}
{% block headercontent%}
    <div class="ui text container text-header">
          <h1 class="ui inverted header">
            Blog Django
          </h1>
          <h2 class="">¿Quieres crear un post que sea leídos por todos?</h2>
          <a href="{% url 'create_post' %}"><div class="ui huge primary button">Crea Un Post <i class="right arrow icon"></i></div></a>
          <h3 style="padding-bottom: 10px;" class="">Baja para leer las publicaciones de otros usuarios <i class="down arrow icon"></i></h3>
    </div>
    {% for post in data %}
    <div>
        <div>
            <h2>{{ post.title }}</h2>
            <a href="{% url 'post_detail' post.id %}">
                <img width="250px" height="300px" src="{{ post.picture.url }}">
            </a>
        </div>
        <div>
            <button><a href="{% url 'post_delete' post.id %}">Eliminar</a></button>
            <button><a href="{% url 'post_edit' post.id %}">Editar</a></button>
        </div>
    </div>
{% endfor %}
{% endblock headercontent%}
{% block body %}
{% endblock body %}