{% extends "base.html" %}
{% block moreStyle%}
<style>
          .ui.inverted.segment, .ui.primary.inverted.segment {
            background-color: #ffffff;
            color: rgba(0, 0, 0, 0.9);
            background-image: url(https://images.pexels.com/photos/574071/pexels-photo-574071.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
            background-size: cover;
            background-attachment: fixed;
        }
        .masthead.segment {
            min-height: 700px;
            padding: 1em 0em;
        }
    </style>
{% endblock moreStyle %}
{% block headercontent%}
    <div class="ui text container text-header">
          <h1 class="ui inverted header">
            Blog Django
          </h1>
          <h2 class="">¿Quieres crear un post que sea leídos por todos?</h2>
          <a href="createBlog.html"><div class="ui huge primary button">Crea Un Post <i class="right arrow icon"></i></div></a>
          <h3 style="padding-bottom: 10px;" class="">Baja para leer las publicaciones de otros usuarios <i class="down arrow icon"></i></h3>
    </div>
    {% for post in data %}
    <div>
        <h2>{{ post.title }}</h2>
        <img src="{{ post.picture.url }}">
    </div>
{% endfor %}
{% endblock headercontent%}
{% block body %}
              <!--Body Blog-->
    <div class="ui text container content-form-custom">
        <h3>NEW POST</h3>
        <div class="ui tall stacked raised segment form-custom form">
            <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="ui submit primary button">Submit</button>
                </form>
            <button class="ui submit primary button">Submit</button>
        </div>
    </div>
{% endblock body %}